.header {
	&__body {
		display: flex;
		flex-direction: column;

		@media (max-width:$md2+px) {
			flex-direction: column-reverse;

			.header__top {
				padding: 62px 0px 31px;
			}

			.header__nav {
				position: fixed;
				width: 100%;
				top: 0;
				background: $white;
				z-index: 99;
				// box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
				&_wrap{
					padding: 11px 0 11px 0;
					border: none;
				}	
				.header__menu {
					display: none;
				}

				.header__search {
					margin-left: auto;
				}
			}

			.toggle {
				display: block;
			}

			.header__wrap {
				flex-wrap: wrap;
			}

			.header__logo {
				width: 100%;
				text-align: center;
			}

			.header__phone {
				margin-left: 0;
				width: 50%;
				text-align: left;
			}

			.header__callback {
				margin-left: 0;
				width: 50%;
				text-align: right;
			}
		}

		@media (max-width:$md4+px) {
			.header__logo {
				margin-bottom: 22px;
				margin-top: 4px;
			}

			.header__phone {
				width: 100%;
				text-align: center;
				margin-bottom: 15px;
			}

			.header__callback {
				width: 100%;
				text-align: center;
			}
		}
	}

	// .header__top

	&__top {
		padding: 26px 0px;
	}

	// .header__body

	&__wrap {
		display: flex;
		align-items: center;
	}

	// .header__logo

	&__logo {
		font-weight: 500;
		font-size: 25px;
		color: $text;

		span {
			display: block;
			font-size: 16px;
			font-weight: normal;
			color: rgba(0, 0, 0, 0.5);
		}
	}

	// .header__phone

	&__phone {
		text-align: right;
		margin-left: auto;

		span {
			margin-bottom: 3px;
			display: block;
			font-size: 13px;
			color: rgba(0, 0, 0, 0.5);
		}

		a {
			font-weight: 500;
			font-size: 20px;
			color: $text;
		}
	}

	// .header__callback

	&__callback {
		margin-left: 39px;
	}

	// .header__nav

	&__nav {
		&_wrap{			
			padding: 11px 0px 13px 0px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			@include border;
		}
	}

	// .header__menu

	&__menu {
		display: flex;

		li {
			margin-right: 37px;

			&:last-child {
				margin-right: 0;
			}
		}

		a {
			font-weight: 500;
			font-size: 14px;
			text-transform: uppercase;
			color: $text;
			transition: all 0.25s;

			&:hover {
				color: $accent;
			}
		}
	}

	// .header__search

	&__search {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.main {
	position: relative;
	// .main__body


	// .main__item

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 500px;
		color: $white;
		text-align: center;
		@include fillbg;
	}

	// .main__subtitle

	&__title {
		margin-top: 30px;
		font-weight: bold;
		font-size: 36px;
		text-transform: uppercase;

		@media (max-width:$md2+px) {
			max-width: 500px;
			margin: 30px auto 0;
			font-size: 30px;
			line-height: 35px;
		}
	}

	&__subtitle {
		margin: 10px 0px 0px 0px;
		font-size: 18px;
		color: rgba(255, 255, 255, 0.7);
	}

	// .main__btn

	&__btn {
		margin: 36px 0px 0px 0px;
	}
}